<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <meta name="author" content="Agnieszka Wardęga">
    <meta name="description" content="A simple web game called Guess the drawn number, where the user guesses the number from 1 to 100.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
            input[type=submit] {
                background-color: powderblue;
                border: 2px;
                border-color: palevioletred;
                color: purple;
                padding: 8px 16px;
                text-decoration: none;
                margin: 4px 2px;
                cursor: pointer;
            }
            h1{
                color: palegreen;
            }
        </style>
</head>
<body>
<h1>Simple instruction below</h1>
</body>
</html>